@import 'tailwindcss';

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

/* Industrial Standard Reveal Animation */
.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(100px);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
